In [2]:
# Type of object
type(1.0)
# String -> words
# Intergers -> whole numbers w/ no decimals
# Floats -> numbers w/ decimals

float

In [7]:
# Converting objects
print(float(2))
print(int(2.12))
print(str(2))
# This won't work for, say, converting a string of words (not numbers) to an interger: print(int("Hello, world!"))

2.0
2
2

In [8]:
# Booleans
print(bool(1))
print(int(True))
print(bool(0))
print(int(False))
# Booleans assign values of 1 or 0 -> 1 = True, 0 = False

True
1
False
0

In [16]:
# Indexing strings
Name = "Anna Madison Burns" # This assigns a string to the value "Name"
print(Name[0]) # First character assigned zero, ascending
print(Name[-1]) # Last character assigned -1, descending
print(len(Name)) # Number of characters in the string
print(Name[0:4]) # Slice the string
print(Name[::2]) # Stride the string, in this case take every second character
print(Name[0:4:2]) # Stride the string, taking every second character from the first four characters
print(Name * 3)
Statement = Name + " is learning Python" # This is concatenating (or adding) two strings
print(Statement)

A
s
18
Anna
An aio un
An
Anna Madison BurnsAnna Madison BurnsAnna Madison Burns
Anna Madison Burns is learning Python

In [11]:
# Escape sequences
print("Anna \n Burns") # New line
print("Anna \t Burns") # New tab
print("Anna \\ Burns") # Method 1 to print a back slash
print(r"Anna \ Burns") # Method 2 to print a back slash

Anna
 Burns
Anna 	 Burns
Anna \ Burns
Anna \ Burns

In [17]:
# String operations
A = Name.upper() # Convert to upper case letters
print(A)
B = A.lower() # Convert to lower case letters
print(B)
C = Name.replace("Anna", "Tamara")
print(C)

ANNA MADISON BURNS
anna madison burns
Tamara Madison Burns

In [20]:
# Searching strings
print(Name.find("Mad")) # Lists the location of the first character
print(Name.find("e")) # Gives a negative number if the search term is not in the string

5
-1

In [3]:
# Tuples
tuple1 = ("disco", 10, 1.2) # This is a tuple, a combination of elements
print(tuple1)
print(tuple1[0]) # You can index a tuple, or print a specific element (can also negatively index)
tuple2 = tuple1 + ("hard rock", 10) # You can concatenate tuples
print(tuple2)
print(tuple2[3:5]) # Just like strings, you can slice tuples
print(len(tuple2)) # Or determine their length
print(tuple1.index("disco")) # Or find their location

('disco', 10, 1.2)
disco
('disco', 10, 1.2, 'hard rock', 10)
('hard rock', 10)
5
0

In [2]:
# Sorting tuples
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
print(sorted(Ratings)) # This sorts the ratings in numerical order

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
# Nested tuples
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print(NestedT[2]) # Can print an index of the tuple
print(NestedT[2][0]) # Can also print a nested index of the tuple
print(NestedT[2][0][1]) # You can also print an element of a nested index in the tuple